{% extends "temple.html" %}

{% block content %} 
<!--div class="m-3">
<form method="post">
    {% csrf_token %}
  <div class="form-group m-3">
    {{ form.number.label_tag }}
    {{ form.number }}
  </div>
  <div class="form-group m-3">
    {{ form.date.label_tag }}
    {{ form.date }}
  </div>
  <div class="form-group m-3">
    {{ form.organization.label_tag }}
    {{ form.organization }}
  </div>
  <button type="submit">Записать</button>
  <button href="orders/">Отмена</button>
</form>
</div -->
<form method="post">
    {% csrf_token %}
    <h2>Создание заказа</h2>
    {{ order_form.as_p }}

    <h2>Ассортимент заказа</h2>
    {{ assort_formset.management_form }}
    {% for form in assort_formset %}
        {{ form.as_p }}
    {% endfor %}

    <button type="submit">Сохранить</button>
</form>
{% endblock %}