{% extends "temple.html" %}

{% block content %} 
<div id="catalog_index" class="m-3"> 
  <h2>{{title}}</h2>
  <div class="hstack gap-3 p-2 d-print-none">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#itemModal" onclick="onNewItem()">Создать</a>
  </div>
  <table class="table table-striped table-bordered">
      <thead>
        <tr class="align-items-center"> 
          <th>Номен заказа</th>
          <th>Дата заказа</th>
          <th>Организация</th>
          <th class='d-print-none'>Действие</th>
        </tr>
        <tbody class="table-group-divider">
          {% for x in context %}
            <tr>
                <td>{{ x.number }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.organization.name }}</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal" onclick="onViewItem('{{x.pk}}')">Редактор</button></td>
            </tr>
          {% endfor %}
          </tbody>
      </thead>
    </table>
  </div>
</div>  
<div class="modal" id="itemModal">
  <div class="modal-dialog modal-lg">
    <form method="post" action="/orders/new">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="itemModalTitle"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>  
        <div class="modal-body container" id="itemModalBody">
          {% csrf_token %}
          <h2>Создание заказа</h2>
          {{ order_form.uuid.as_hidden }}
          <div class="input-group mb-3">
            <span class="input-group-text"> Номер </span>
            {{ order_form.number }}
            <span class="input-group-text"> от </span>
            {{ order_form.date }}
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"> Организация </span>
            {{ order_form.organization }}
          </div>      
          <button type="button" class="btn btn-secondary" onclick="onNewLine()">Новая строка</button>
          <h2>Ассортимент заказа</h2>
          {{ assort_formset.management_form }}
          {% for form in assort_formset %}
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  {{ form.num }} 
                </div>
                <div class="col">
                  {{ form.assortiment}}
                </div>
                <div class="col">
                  {{ form.count }}
                </div>
              </div>  
            </div>
          {% endfor %}
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Записать</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </form>
  </div>
</div>  
<script>
  
  function onNewItem(){ 
    document.getElementById("itemModalTitle").innerHTML = "Новый заказ"  
  }
  async function onViewItem(id=""){ 
    document.getElementById("itemModalTitle").innerHTML = "Редактирование заказа"
    var itemModelTable  = document.getElementById("itemModelTable") 
    fetch('/orders-api/'+id)
      .then(response => response.json())
      .then(commits => {
        document.getElementById("id_organization").value = commits.organization
        number: document.getElementById("id_number").value = commits.number
        document.getElementById("id_date").value = commits.date
      });
  }
  function onNewLine(){ 
    const totalForms = document.querySelector('#id_orderassortmenttablemodel_set-TOTAL_FORMS'); //#id_book_set-TOTAL_FORMS'
    const formIndex = totalForms.value; // Получаем индекс следующей формы
    const newForm = document.querySelector('.empty-form').cloneNode(true);

    newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formIndex);
    formsetContainer.appendChild(newForm);

    totalForms.value = parseInt(totalForms.value) + 1;
  }
</script>
{% endblock %}
