{% csrf_token %}
{{ order_form.uuid.as_hidden }}
<div class="input-group mb-3">
    <span class="input-group-text"> Номер </span>
    {{ order_form.number }}
    <span class="input-group-text"> от </span>
    {{ order_form.date }}
</div>
<div class="input-group mb-3">
    <span class="input-group-text"> Организация </span>
    {{ order_form.organization }}
</div>
</div>
<div class="modal-body container" id="itemModalBodyLines">
<div class="input-group mb-3">
    <button type="button" class="btn btn-secondary" onclick="onNewLine()">Новая строка</button>
</div>
<div class="hr"/>
{{ assort_formset.management_form }}
{% for form in assort_formset %}
    <div class="input-group mb-3">
    {{ form.assortiment }}
    {{ form.count }}
    {{ form.price }}
    {{ form.summa }}
    <button type="button" class="btn btn-danger" onclick="onDeleteLine(this)">Удалить</button>
    </div>
{% endfor %}